
<div class="footer">
                <footer class="container outerFooterPanel">                   
                   <div class="row">
                      <div class="col-md-5 dxcCityData">
                         <img src="assets/images/logo2.png" alt="Logo" class="footerlogo" />
                         <div class="row">
                            <img src="assets/images/city.png" class="img-responsive building col-sm-4" width= "116px" height="100px" alt="DXCImage">
                            <p class="row col-sm-8">[YOUR COMPANY DESCRIPTION STARTS HERE]                       
                              <br>
                              .<br>
                              .<br>
                              .<br>.<br>.<br>
                              [YOUR COMPANY DESCRIPTION ENDS HERE]
                            </p>
                         </div>
                      </div>
                      <div class="col-sm-4 officeData">
                         <div class="row dxcOffice">
                            <p class="dxcTitle">[YOUR COMPANY NAME]</p>
							<ul>
							  <li> <img src="assets/images/location.png" class="img-responsive" width= "10" height="16" alt="DXCImage">[COMPANY ADDRESS]
							  </li>
							  <li> <img src="assets/images/phone.png" class="img-responsive" width= "12" height="12" alt="DXCImage">[COMPANY PHONE]
							  </li>
							   <li><img src="assets/images/landline.png" class="img-responsive" width= "12" height="12" alt="DXCImage">[COMPANY FAX]
							  </li>
							   <li><img src="assets/images/mail.png" class="img-responsive" width= "12" height="10" alt="DXCImage">[COMPANY EMAIL]
							  </li>
							</ul>
                         </div>
                         
                         <div class="row dxcMedia">
                            <a href="https://www.facebook.com/DXCTechnology"><img src="assets/images/ficon.png" class="img-responsive" width= "22" height="22" alt="DXCImage"></a>
                            <a href="https://twitter.com/dxctechnology"><img src="assets/images/twitter.png" class="img-responsive"  width= "22" height="22" alt="DXCImage"></a>
                            <a href="https://www.linkedin.com/company/dxctechnology"><img src="assets/images/linkedin.png" class="img-responsive"  width= "22" height="22" alt="DXCImage"></a>
                            <a href="https://plus.google.com/+dxctechnology"><img src="assets/images/googlePlus.png" class="img-responsive"  width= "22" height="22" alt="DXCImage"></a>
                            <a href="https://www.instagram.com/official_DxcTechnology"><img src="assets/images/circle.png" class="img-responsive"  width= "22" height="22" alt="DXCImage"></a>
                            <a href="https://www.youtube.com/DXCTechnology"><img src="assets/images/youtube.png" class="img-responsive"  width= "22" height="22" alt="DXCImage"></a>
                         </div>
                      </div>
                      <div class="col-sm-2 dxcimplink">
                         <ul>
							 <li><a href="http://www.dxc.technology/about_us">[ABOUT YOUR COMPANY]</a></li>
							 <li><a href="http://www.dxc.technology/contact_us">Contact Us</a></li>
							 <!--<li><a href="#">Site Map</a></li>
							 <li><a href="#">Help</a></li>-->
							 <li><a href="http://www.dxc.technology/legal">Legal</a></li>
							 <li><a href="http://www.dxc.technology/privacy">Privacy Policy</a></li>
						 </ul>
                  </div>

                   </div>

                   <div class="row">
                        <p class="copyrights">Copyright © [YYYY YOUR COMPANY NAME]</p>
                     </div>
                   <br>
                </footer>
             </div>	 
