<div class="headerbg"> 
       <header class="container">
		<div class="row">
			   <div class="col-sm-7">
				   <p class="dxcLogo"><img src="assets/images/logo2.png" alt="Logo" class="headerlogo" /></p>
				   <p class="headerTitle">[INSERT YOUR TITLE HERE]</p>
			   </div>
			   <div class="col-sm-5 Headermenu">
					 <ul id="menu">
						  <li><img [src]="headerprofilephotoURL" alt="User Image" class="userImage"></li>
						  <li>
							<input id="check01" type="checkbox" name="menu"/>
							<p class="topmenu" for="check01" style="margin-top:15px">[LOGGED IN USER]</p>
							<ul class="submenu">
							  <!-- <li><a routerLink="/userprofile" (click)="profile()">View My Profile</a></li>
							  <!-- <li><a href="#">User Preference/Settings</a></li> -->
							 <!--  <li><a routerLink="/logout" (click)="logout()">Log out</a></li> -->
							</ul>
						  </li>
					</ul>
               </div>
          </div>
        </header>
	 </div>	